<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Posix" version="5.4.0.201" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="RegexMatcher" version="1.0.0" targetFramework="net461" />
  <package id="Watson" version="1.2.11" targetFramework="net461" />
</packages>