<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmailWrapper" version="1.0.1" targetFramework="net452" />
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="RestWrapper" version="1.0.3" targetFramework="net452" />
  <package id="SyslogLogging" version="1.0.3" targetFramework="net452" />
  <package id="Watson" version="1.0.8" targetFramework="net452" />
</packages>